* { -webkit-box-sizing: border-box; box-sizing: border-box; }

:root { --scrollbar-size: 20px; --nav-height: 60px; --theme-primary: #000000; --theme-primary-ajusted: #333333; --theme-secondary: #ffffff; --theme-secondary-ajusted: gray; --theme-accent: #ff5500; --theme-accent-inverted: #00aaff; }

:root[data-theme=light] { --theme-primary: #ffffff; --theme-primary-ajusted: #cccccc; --theme-secondary: #000000; --theme-secondary-ajusted: gray; --theme-accent: #ff5500; --theme-accent-inverted: #00aaff; }

::-webkit-scrollbar { display: block; width: var(--scrollbar-size); height: var(--scrollbar-size); }

::-webkit-scrollbar-track { background-color: var(--theme-primary-ajusted); border: 1px solid var(--theme-primary); }

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner { background-color: var(--theme-secondary-ajusted); }

::-webkit-scrollbar-thumb { border: 1px solid var(--theme-primary); }

::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-corner { background: var(--theme-secondary-ajusted); }

::-webkit-scrollbar-button { background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; border: 1px solid var(--theme-primary); width: var(--scrollbar-size); height: var(--scrollbar-size); }

::-webkit-scrollbar-button:horizontal:increment:start, ::-webkit-scrollbar-button:vertical:increment:start, ::-webkit-scrollbar-button:horizontal:decrement:end, ::-webkit-scrollbar-button:vertical:decrement:end { display: none; }

::-webkit-scrollbar-button:vertical:decrement { /*Up*/ background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='15,75 85,75 50,25'/></svg>") !important; }

::-webkit-scrollbar-button:vertical:increment { /*Down*/ background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='15,25 85,25 50,75'/></svg>") !important; }

::-webkit-scrollbar-button:horizontal:decrement { /*Left*/ background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='25,50 75,15 75,85'/></svg>") !important; }

::-webkit-scrollbar-button:horizontal:increment { /*Right*/ background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='25,15 75,50 25,85'/></svg>") !important; }

body { background-color: var(--theme-primary); color: var(--theme-secondary); margin: 0px; padding: 0px; overflow-x: hidden; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

code { background-color: var(--theme-primary); color: var(--theme-accent); padding: 1px 10px; font-weight: 100; font-family: 'Consolas', 'Inconsolata', monospace; border: 1px solid var(--theme-accent); border-radius: 10px; }

/* Smaller Screens */
@media only screen and (max-width: 1000px) { h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 20px; }
  h4 { font-size: 16px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; } }

h1, h2, h3, h4, h5, h6 { color: var(--theme-accent); line-height: 1.25em; margin: 0px 0px 5px 0px; padding: 0px; }

p { color: var(--theme-secondary); line-height: 1.25em; margin: 0px 0px 5px 0px; padding: 0px; }

hr { width: 97.5%; margin: 25px auto; }

hr.theme-primary { border-width: 2px !important; border-color: var(--theme-secondary-ajusted); }

a { color: inherit; text-decoration: inherit; }

a:hover, a:focus { color: var(--theme-accent); }

a.link { color: var(--theme-accent); }

a.link:hover { text-decoration: underline; }

a.btn { display: inline-block; background-color: var(--theme-accent); color: var(--theme-primary); border: 1px solid var(--theme-primary); padding: 5px 10px; text-decoration: none; font-weight: 900; }

a.btn:active { background-color: var(--theme-accent); color: var(--theme-secondary); }

i { font-style: italic !important; }

u { text-decoration: underline !important; }

b { font-weight: bold !important; }

.nav { background-color: var(--theme-primary-ajusted); color: var(--theme-secondary); width: 100%; height: var(--nav-height); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; position: -webkit-sticky; position: sticky; top: 0px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 9999; }

.nav .nav-bar { position: absolute; width: 100%; height: var(--nav-height); -webkit-box-shadow: 0px 5px 5px black; box-shadow: 0px 5px 5px black; font-size: 20px; z-index: 9999; }

.nav .nav-bar .nav-brand { position: absolute; display: block; width: 225px; height: 100%; cursor: pointer; }

.nav .nav-bar .nav-brand .nav-img { position: absolute; top: 0px; left: 0px; width: calc(var(--nav-height)); height: calc(var(--nav-height)); }

.nav .nav-bar .nav-brand .nav-text { position: absolute; top: 0px; left: calc(var(--nav-height) + 10px); line-height: var(--nav-height); font-weight: bold; white-space: nowrap; }

.nav .nav-bar .nav-theme-toggle-icon { display: block; position: absolute; top: 0px; right: calc(var(--nav-height) + (var(--nav-height) / 10)); width: calc(var(--nav-height) + (var(--nav-height) / 10)); height: var(--nav-height); padding: 15px; cursor: pointer; }

.nav .nav-bar .nav-theme-toggle-icon:hover { background-color: var(--theme-secondary-ajusted); }

.nav .nav-bar .nav-hamburger-icon { display: block; position: absolute; top: 0px; right: 0px; width: calc(var(--nav-height) + (var(--nav-height) / 10)); height: var(--nav-height); padding: 15px; cursor: pointer; }

.nav .nav-bar .nav-hamburger-icon:hover { background-color: var(--theme-secondary-ajusted); }

.nav .nav-menu { background-color: var(--theme-primary); display: -webkit-box; display: -ms-flexbox; display: flex; position: fixed; top: var(--nav-height); left: 0px; height: calc(100% - var(--nav-height)); width: 100%; overflow: auto; }

.nav .nav-menu[data-menu-state=opened] { display: -webkit-box; display: -ms-flexbox; display: flex; }

.nav .nav-menu[data-menu-state=closed] { display: none; }

.nav .nav-menu .nav-menu-items { margin: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden; }

.nav .nav-menu .nav-menu-items .nav-menu-item { --nav-menu-item-height: 50px; background: var(--theme-primary-ajusted); min-width: 300px; width: auto; max-width: 500px; height: 50px; line-height: var(--nav-menu-item-height); text-align: center; font-size: 1.5em; margin: 5px 0px; padding: 0px 10px; cursor: pointer; }

.nav .nav-menu .nav-menu-items .nav-menu-item:hover { background-color: var(--theme-secondary-ajusted); }

.main { position: relative; width: 100%; padding: 0px 5px; font-size: 20px; overflow-y: auto; z-index: 1; }

/* Home Page */
.promo-banners { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: stretch; -ms-flex-pack: stretch; justify-content: stretch; gap: 10px; margin: 20px 0px; }

.promo-banners .promo-banner { --banner-height: 150px; position: relative; -ms-flex-negative: 0; flex-shrink: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; background-color: var(--theme-primary); color: var(--theme-secondary); border: 2px solid var(--theme-secondary-ajusted); border-radius: 20px; min-width: 150px; height: var(--banner-height); margin: 10px 10px; overflow: hidden; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.promo-banners .promo-banner:hover { background-color: var(--theme-secondary); color: var(--theme-primary); cursor: pointer !important; }

.promo-banners .promo-banner .promo-banner-img { display: inline-block; width: calc(var(--banner-height) * 0.5); height: calc(var(--banner-height) * 0.5); vertical-align: middle; }

.promo-banners .promo-banner .promo-banner-text { display: inline-block; vertical-align: middle; font-size: 1.25em; font-weight: 900; word-wrap: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; text-shadow: 1px 1px 0px var(--theme-primary); }

.text-center { text-align: center; }

.section-title { text-align: center; }

.section { position: relative; background-color: var(--theme-primary-ajusted); margin: 20px 10px; padding: 20px 15px; border-radius: 15px; }

.quick-start-guide { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: stretch; -ms-flex-pack: stretch; justify-content: stretch; }

.quick-start-guide .section { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.common-commands { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: stretch; -ms-flex-pack: stretch; justify-content: stretch; }

.common-commands .section { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.faq { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.faq .section { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

/* Privacy Policy Page */
.privacy-policy-container--bad-adblock { background-color: var(--theme-primary-ajusted); max-width: 1200px; margin: auto; padding: 15px; }

/* Cookie Policy Page */
.cookie-policy-container--bad-adblock { background-color: var(--theme-primary-ajusted); max-width: 1200px; margin: auto; padding: 15px; }
